html,
body {
  position: relative;
  height: 100%;
  background: #141b3f;
  // overflow: hidden;
}

.main {
  position: relative;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

strong,
em {
  font-weight: 700;
}

video {
  width: 100%;
}

.no-scroll,
.slide-no-scroll {
  overflow: hidden;
}

.hide-slide-nav {
  opacity: 0;
}

.pb-40 {
  padding-bottom: 40px;
}

.pt-160 {
  padding-top: 160px;
}

.ml16 .letter {
  display: inline-block;
  line-height: 1em;
}

.remove {
  display: none;
}