.button {
  &-cta {
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;

    @media (max-width: $laptop) {
      width: 100%;
      position: relative;
    }

    & a {
      text-decoration: none;
      font-family: $fontSecondary;
      color: $colorBrown;
      font-weight: 500;
      font-size: 18px;
      line-height: 180%;
      text-transform: uppercase;
      background: #fff;
      border-radius: 5px;
      padding: 15px 30px;
      position: relative;
      z-index: 10;

      @media (max-width: $widescreen) {
        padding: 10px 30px;
        font-size: 15px;
      }

      @media (max-width: $tablet) {
        padding: 10px 90px;
        font-size: 17px;
      }

      @media (max-width: $mobile) {
        padding: 8px 90px;
        font-size: 14px;
      }
    }

    &__clouds {
      //margin-top: -39px;

      margin-top: -199px;
      margin-right: 4px;
      height: 260px;
      opacity: .5;
      z-index: 5;

      & img {}

      @media (max-width: $laptop) {
        width: 205px;
      }
    }
  }

  &-slide {
    display: inline-block;
    text-align: center;
    font-family: $fontSecondary;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: transparent;
    max-width: 200px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.08em;
    margin-top: 25px;
    text-transform: uppercase;

    @media (max-width: $widescreen) {

      font-size: 16px;
      padding: 8px 15px;
    }

    @media (max-width: $mobile) {
      margin: 0 auto;
      margin-top: 40px;
      margin-bottom: 40px;
      font-size: 14px;
      padding: 10px 85px;
    }
  }

  &-instagram {
    display: flex;
    margin-top: 40px;
    width: 260px;
    justify-content: space-between;
    align-items: center;
    color: $colorGold;
    font-family: $fontSecondary;
    font-size: 24px;

    & img {
      width: 35px;
    }

    @media (max-width: $mobile) {
      margin-bottom: 60px;
      width: 215px;
      font-size: 20px;
    }

  }

  &-footer {
    text-decoration: none;
    font-family: $fontSecondary;
    color: $colorBrown;
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    text-transform: uppercase;
    background: $colorBrown;
    color: #fff;
    border-radius: 5px;
    padding: 15px 30px;
    position: absolute;
    bottom: 155px;
    letter-spacing: 0.05em;

    @media (max-width: $mobile) {
      font-size: 13px;
    }
  }

  &-navigation {
    display: inline-block;
    text-align: center;
    font-family: $fontSecondary;
    color: #fff;
    padding: 16px 70px;
    border-radius: 5px;
    border: 2px solid $colorBrown;
    background-color: transparent;
    //max-width: 200px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.08em;
    margin-top: 25px;
    text-transform: uppercase;

    @media (max-width: $mobile) {
      font-size: 15px;
      padding: 10px 50px;
    }

  }

  &-mobile {
    display: inline-block;
    overflow: hidden;

    & a {
      text-decoration: none;
      font-family: $fontSecondary;
      color: $colorBrown;
      font-weight: 500;
      font-size: 16px;
      line-height: 180%;
      text-transform: uppercase;
      background: #fff;
      border-radius: 5px;
      padding: 10px 90px;
      position: relative;
      display: inline-block;
    }
  }
}