.footer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  display: none;


  @media (max-width: $mobile) {
    display: block;
    scroll-snap-align: start;
  }

  &-info {
    position: absolute;
    left: 50px;
    bottom: 30px;
    font-family: $fontSecondary;
    color: #fff;

    @media (max-width: $mobile) {
      position: relative;
      text-align: center;
      margin-top: 40px;
      left: 0px;
      bottom: 0px;
    }

  }

  &-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    @media (max-width: $mobile) {
      padding-top: 40px;
    }
  }

  &-logo {
    @media (max-width: $mobile) {
      padding: 30px;
    }
  }

  &-logo img {
    width: 765px;

    @media (max-width: $mobile) {
      width: 100%;
    }
  }

  &-navigation {
    margin-top: 55px;

    @media (max-width: $mobile) {
      margin-top: 0px;
    }
  }

  &-navigation ul {
    display: flex;
    margin-top: 55px;

    @media (max-width: $mobile) {
      flex-direction: column;
      margin: 0;
      padding: 0;
    }

    & li {
      display: inline-block;
      font-family: $fontSecondary;

      font-size: 16px;
      line-height: 28px;
      font-weight: 400;

      @media (max-width: $mobile) {
        font-size: 14px;
      }
    }

    & li a {
      display: inline-block;
      padding: 0 20px;
      color: #adadad;
    }
  }

  &-copyright {
    bottom: 50px;
    right: 50px;
    position: absolute;

    @media (max-width: $mobile) {
      position: relative;
      text-align: center;
      padding-top: 30px;
      padding-bottom: 60px;
      bottom: 0px;
      right: 0px;
    }

    & a {
      color: #fff;
      font-family: $fontSecondary;
      font-size: 18px;
      line-height: 32px;

      @media (max-width: $mobile) {
        font-size: 14px;
      }
    }
  }

  &-widget {
    padding-bottom: 20px;

    &__title {
      text-transform: uppercase;
      font-weight: 500;
    }

    &__text {
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      padding: 10px 0;

      @media (max-width: $mobile) {
        font-size: 14px;
      }

      & span {
        display: block;
      }
    }
  }

  &-socials {
    position: absolute;
    right: 50px;

    @media (max-width: $mobile) {
      position: relative;
      right: 0px;
    }

    & ul {
      display: flex;
      flex-direction: column;
      height: 130px;
      justify-content: space-between;


      @media (max-width: $mobile) {
        flex-direction: row;
        margin: 0;
        padding: 0;
        height: auto;
        justify-content: center;
      }
    }

    & ul li {
      @media (max-width: $mobile) {
        padding: 0 12px;
      }
    }
  }
}

.footer-slide {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  &-info {
    position: absolute;
    left: 50px;
    bottom: 40px;
    font-family: $fontSecondary;
    color: #fff;
  }

  &-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &-logo img {
    width: 765px;

    @media (max-width: $widescreen) {
      width: 660px;
    }
  }

  &-navigation {
    position: absolute;
    bottom: 55px;
    left: 50%;
    transform: translateX(-50%);
  }

  &-navigation ul {
    display: flex;

    & li {
      display: inline-block;
      font-family: $fontSecondary;

      font-size: 16px;
      line-height: 28px;
      font-weight: 400;

      @media (max-width: $widescreen) {
        font-size: 15px;
      }

    }

    & li a {
      display: inline-block;
      padding: 0 20px;
      color: #adadad;
    }
  }

  &-copyright {
    bottom: 70px;
    right: 50px;
    position: absolute;

    & a {
      color: #fff;
      font-family: $fontSecondary;
      font-size: 18px;
      line-height: 32px;
    }
  }

  &-widget {
    padding-bottom: 20px;

    &__title {
      text-transform: uppercase;
      font-weight: 500;
    }

    &__text {
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      padding: 10px 0;

      & span {
        display: block;
      }
    }
  }

  &-socials {
    position: absolute;
    right: 50px;

    & ul {
      display: flex;
      flex-direction: column;
      height: 130px;
      justify-content: space-between;
    }
  }
}