.loader {
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  background-color: #141B3F;
  justify-content: center;
  align-items: center;
  //visibility: hidden;

  @media (max-width: $mobile) {
    display: none;
  }
}

.loader-close {
  animation: slideOutContainer 2.5s cubic-bezier(0.97, 0.01, 0.36, 0.99) 1.8s;
  animation-fill-mode: forwards;
}

.is-loading .main,
.is-loading .header {
  display: none;
}