.social-feed {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  max-width: 915px;
  justify-content: flex-end;

  @media (max-width: $mobile) {
    flex-direction: column;
    max-width: auto;
    flex-wrap: nowrap;
  }

  &__col {
    padding: 10px;
  }

  & img {
    max-width: 185px;

    @media (max-width: $widescreen) {
      max-width: 155px;
    }
  }
}