.page {
  &__columns {
    height: 100vh;

    @media (max-width: $mobile) {
      height: auto;
    }

    &-footer {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

  &__column-text {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 205px;

    &.page__column-text--mp {
      padding: 0 25%;

      @media (max-width: $mobile) {
        padding: 90px 30px 40px 30px;
        height: auto;
      }
    }

    &.page__column-text--sp {
      padding: 0 15%;

      @media (max-width: $mobile) {
        padding: 90px 30px 40px 30px;
        height: auto;
      }
    }

    &.page__column-text--about {

      @media (max-width: $mobile) {
        padding-top: 160px;
      }
    }

    &.page__column--gold {
      background: $colorBrown;
    }

    &.page__column--blue {
      background: $colorBlue;
    }

    @media (max-width: $mobile) {
      padding: 90px 30px 40px 30px;
      height: auto;
    }
  }

  &__column-image {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & img {
      margin-top: 70px;
      height: 620px;

      @media (max-width: $mobile) {
        width: 322px;
        height: auto;
      }
    }

    &.page__column--gold {
      background: $colorBrown;
    }

    &.page__column--blue {
      background: $colorBlue;
    }

    @media (max-width: $mobile) {
      height: 340px;
    }
  }

  &-meta {
    position: relative;

    &__title {
      position: absolute;
      top: 25px;
      left: -60px;

      @media (max-width: $mobile) {
        left: -10px;
      }
    }

    &__caption {
      position: absolute;
      color: #fff;
      width: 350px;
      bottom: 20px;
      left: -60px;

      @media (max-width: $mobile) {
        width: 250px;
        bottom: -85px;
        left: 30px;
      }

    }

    &__caption--right {
      right: -105px;
      color: #fff;
      width: 350px;
      bottom: -90px;
      position: absolute;

      @media (max-width: $mobile) {
        right: 106px;
        color: #fff;
        width: 230px;
        bottom: 35px;
        position: absolute;
      }
    }

    &__paraf {
      position: absolute;
      bottom: -100px;
      right: -55px;

      @media (max-width: $mobile) {
        display: none;
      }

      & img {
        height: 155px;
      }
    }

    @media (max-width: $mobile) {
      position: absolute;
      bottom: -70px;
    }
  }
}