.team {

  &-list__wrapp {
    height: 750px;
    overflow: hidden;
    overflow-y: auto;

    @media (max-width: $mobile) {
      height: auto;
      overflow: auto;
      overflow-y: auto;
    }
  }

  &-list {
    display: inline-block;
    width: 385px;
    margin-top: 85px;

    @media (max-width: $mobile) {
      width: auto;
      margin-top: 0;
    }
  }

  &-list__item {
    padding: 15px 0;
  }

  &-list__name {
    font-family: $fontPrimary;
    font-size: 18px;
    line-height: 20px;
    color: #fff;
    margin: 0;
    padding: 5px 0;
  }

  &-list__position {
    font-family: $fontPrimary;
    font-size: 18px;
    line-height: 20px;
    color: $colorGold;
    margin: 0;
    font-style: italic;
  }

  &-list__text {
    font-family: $fontSecondary;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    font-weight: 400;
    padding: 10px 0;
  }
}


.simplebar-scrollbar::before {
  background-color: $colorGold;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 8px;
}